
.additional-products__wrapper {
  width: 280px;

  @include container;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;

    @include tablet-container;
  }


  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
    // grid-template-rows: 36px 1fr;

    @include desktop-container;
  }
}

.additional-products {
  display: flex;

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }
}

.additional-products__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  margin-bottom: 36px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $main-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-top: 0;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 53px;
    height: 2px;
    right: -20px;
    top: 40px;
    background-color: $special;

    @media (min-width: $tablet-width) {
      width: 30px;
      left: -30px;
      top: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      left: -110px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      width: 328px;
      height: 2px;
      right: -30px;
      top: 24px;
      background-color: $special;
    }

    @media (min-width: $desktop-width) {
      width: 957px;
      right: -434px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 - 1;
    grid-row: 1 / 2;
  }
}

.additional-products__list {
  display: grid;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 0;
    margin-right: 80px;

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.additional-products__item {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid $special-dark-gray;

  @media (min-width: $tablet-width) {
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr;
    border: 1px solid $special-dark-gray;
    padding: 28px 38px;
    border-top: none;

    &:first-child {
      border-top: 1px solid $special-dark-gray;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 40% 40% min-content;
    grid-template-rows: 1fr;
    padding: 15px 0;
    padding-bottom: 0;
    padding-right: 100px;
    margin-bottom: 8px;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: $before-desktop-width) {
  .additional-products__item:last-of-type {
    padding-bottom: 14px;
    border-bottom: 1px solid $special-dark-gray;
  }
}


.additional-products__link {
  margin-bottom: 13px;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $tablet-width) {
    // margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    margin-bottom: 0;
  }
}

.additional-products__info {
  @media (min-width: $desktop-width) {
    margin-right: 38px;
  }
}

.additional-products__tocken {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.additional-products__container {
  text-align: left;
}

.additional-products__price {
  margin: 0;
  padding: 0;

  text-align: right;
}

.additional-products__order {
  padding: 10px 109px;
  text-align: center;
  text-decoration: none;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-top: 14px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    padding: 8px 92px;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
}

.additional-products__stock {
  position: relative;
  width: 161px;
  padding: 0;
  margin: 0;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 61px;
  text-align: center;
  background-color: $special;
  background-image: url("../img/gift-photo-mobile@1x.png");
  background-repeat: no-repeat;

  font-size: 16px;
  line-height: 20px;
  color: $alternative-color;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.png");
    background-size: 280px auto;
  }

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: 101px;
    background-image: url("../img/icon_gift.svg");

    @media (min-width: $tablet-width) {
      left: 80px;
    }

    @media (min-width: $desktop-width) {
      left: 85px;
      top: 54px;
    }
  }


  @media (min-width: $tablet-width) {
    width: auto;
    grid-column: 1 / -1;
    padding-left: 423px;
    padding-top: 71px;
    padding-bottom: 69px;
    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.png");
      background-size: 708px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 41px;
    padding-right: 43px;
    padding-top: 182px;
    padding-bottom: 0;
    // padding-bottom: 42px;
    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.png");
      background-size: 245px 325px;
    }
  }
}
