@import "../variables.scss";

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $main-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  line-height: 20px;
}

.contacts__map {
  margin: 0;
  padding: 0;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;

    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
