.example__wrapper {
  width: 280px;
  margin: 0;

  @include container;
  background-color: $special-medium;

  @media (min-width: $tablet-width) {
    width: 728px;
    margin-bottom: 66px;

    @include tablet-container;
    background: linear-gradient(
    to bottom,
    $alternative-color 56%,
    $special-medium 56% 100%
  );
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    padding: 0 110px;
    padding-bottom: 0;
    margin-bottom: 0;
    background: linear-gradient(
    to bottom,
    $alternative-color 25%,
    $special-medium 25% 100%
  );
  }
}

.example__title {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  margin-bottom: 33px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $main-color;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 146px;
    padding-top: 58px;
    grid-column: 1 / 2;
  }
}

.example__text {
  margin: 0;
  padding: 0;
  width: 284px;
  margin-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 56px;
    grid-column: 1 / 2;

    br {
      display: none;
    }
  }
}

.example__list {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 366px;
    margin-right: 167px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.example__stat {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    grid-column: 1 / 2;
    margin-bottom: 0;
  }
}

.example__item {
  position: relative;
  margin-right: 31px;
  padding-top: 14px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 42px;
    padding-top: 15px;
  }
}

.example__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 124px;
  height: 64px;
  background-image: url("../img/weight-back.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    background-image: url("../img/weight-back-tablet.png");
  }
}

.example__number {
  width: 124px;
  margin-bottom: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  width: 77px;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 0;
  }
}

.example__legend {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 180px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    text-align: left;
    padding-top: 0;

    span {
      padding-left: 58px;
    }
  }
}

.example__slider-container {
  position: relative;
  display: flex;
  width: 320px;
  padding-top: 307px;

  &::before {
    position: absolute;
    content: "";
    width: 311px;
    height: 232px;
    top: 44px;
    left: -18px;
    background-image: url("../img/before-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/before-mobile@2x.png");
      background-size: 311px auto;
    }

    @media (min-width: $tablet-width) {
      width: 354px;
      height: 620px;
      top: 24px;
      left: 0;
      background-image: url("../img/before-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/before-tablet@2x.png");
        background-size: 354px 620px;
      }
    }

    @media (min-width: $desktop-width) {
      left: -68px;
      top: 0;
      background-image: url("../img/before-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/before-desktop@2x.png");
        background-size: 405px 536px;
      }
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      width: 354px;
      height: 620px;
      top: 30px;
      left: 354px;
      background-image: url("../img/after-tablet@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/after-tablet@2x.png");
        background-size: 354px 607px;
      }
    }

    @media (min-width: $desktop-width) {
      left: 286px;
      top: 2px;
      background-image: url("../img/after-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/after-desktop@2x.png");
        background-size: 325px 654px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 576px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-left: 212px;
    padding-top: 556px;
  }
}

.example__slider {
  display: flex;
  width: 228px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 590px;
  }
}

.example__slider-legend {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
  }
}

.example__slider-legend--min {
  padding-right: 12px;
  text-align: right;
}

.example__slider-legend--max {
  padding-left: 8px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}
