.fieldset {
  border: none;
}

.fieldset__legend {
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $main-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.fieldset__legend--contact::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -20px;
  background-color: $special;
  width: 99px;
  height: 2px;

  @media (min-width: $tablet-width) {
    left: -71px;
    top: 24px;
    width: 30px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
    width: 70px;
  }
}

.fieldset__legend--contact::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: 24px;
    right: -185px;
    background-color: $special;
    height: 2px;
    width: 145px;
  }

  @media (min-width: $desktop-width) {
    width: 778px;
    right: -820px;
  }
}

.fieldset__legend--comment::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -180px;
  background-color: $special;
  width: 158px;
  height: 2px;

  @media (min-width: $tablet-width) {
    left: -71px;
    top: 26px;
    width: 30px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
    width: 70px;
    top: 22px;
  }
}

.fieldset__legend--comment::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: 26px;
    right: -517px;
    background-color: $special;
    height: 2px;
    width: 478px;
  }

  @media (min-width: $desktop-width) {
    width: 1108px;
    right: -1148px;
    top: 22px;
  }
}

.fieldset__legend--additional {
  margin-bottom: 54px;
}

.fieldset__legend--additional::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -160px;
  background-color: $special;
  width: 136px;
  height: 2px;

  @media (min-width: $tablet-width) {
    left: -71px;
    top: 20px;
    width: 30px;
  }

  @media (min-width: $desktop-width) {
    left: -110px;
    width: 70px;
  }
}

.fieldset__legend--additional::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    top: 20px;
    right: -486px;
    background-color: $special;
    height: 2px;
    width: 446px;
  }

  @media (min-width: $desktop-width) {
    right: -1120px;
    width: 1078px;
  }
}
