.main-products {
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.main-products__wrapper {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;

    @include tablet-container;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;

    @include desktop-container;
  }
}

.main-products__list {
  display: grid;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 142px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.main-products__item {
  display: grid;
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 24px;
  border-top: 1px solid $special-gray;

  &:last-child {
    border-bottom: 1px solid $special-gray;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 252px;
    grid-template-columns: min-content;
    grid-template-rows: 100px 80px 140px 39px;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 36px;
    padding-bottom: 40px;
    margin-right: 60px;
    border: none;
    background-color: $special-light;
  }

  @media (max-width: $before-desktop-width) and (min-width: $tablet-width) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding-left: 38px;
    padding-right: 38px;
    margin-right: 80px;
    grid-template-columns: 169px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.main-products__link {
  padding-top: 26px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / - 1;
    grid-row: 1 / 2;
    position: absolute;
    padding-top: 8px;
    content: "";
    top: -150px;
    left: 50px;
  }

  @media (min-width: $desktop-width) {
    left: 10px;
  }
}

.main-products__link--first {
  padding-top: 14px;
}

.main-products__link--big {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
  }
}

@media (min-width: $tablet-width) {
  .main-products__img {
    padding-top: 58px;
  }

  .main-products__bg-img {
    padding-top: 34px;
  }
}

.main-products__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $tablet-width) {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 21px;
    padding-top: 28px;
    grid-column: 1 / - 1;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 20px;
    line-height: 24px;

    br {
      display: none;
    }
  }
}

.main-products__item:nth-child(n+3) > .main-products__title {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}


.main-products__item:nth-child(n+7) > .main-products__title {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.main-products__info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / - 1;
    grid-row: 3 / 4;
    margin-bottom: 0;
    padding-top: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}

.main-products__tocken {
  display: grid;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid $special-dark-gray;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-products__property {
  margin: 0;
  padding: 0;
  grid-column: 1 / 2;

  text-align: left;
}

.main-products__value {
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  text-align: right;
}

.main-products__order {
  padding: 10px 109px;
  grid-column: 1 / -1;
  grid-row: 3/ 4;

  @media (min-width: $tablet-width) {
    grid-column: 1 / - 1;
    grid-row: 4 / 5;
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 8px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 53px;
    padding-right: 53px;
  }
  text-align: center;
  text-decoration: none;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-products__item--more {
  position: relative;
  padding-top: 78px;

  @media (min-width: $tablet-width) {
    grid-template-rows: min-content min-content 40px;
    margin: 0 auto;
    padding-top: 124px;
    background: none;
    background-color: $alternative-color;
    border: 2px solid $special-light;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 39px;
    left: 145px;
    background-color: $dark-gray;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 82px;
      left: 130px;
    }

    @media (min-width: $desktop-width) {
      left: 100px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    top: 25px;
    left: 159px;
    background-color: $dark-gray;

    @media (min-width: $tablet-width) {
      height: 60px;
      top: 52px;
    }

    @media (min-width: $desktop-width) {
      left: 130px;
    }
  }
}

.main-products__title--more {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    width: 250px;
    margin-bottom: 23px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.main-products__text {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  span {
    @media (max-width: $mobile-width-only) {
      padding-left: 2px;
    }
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    padding-top: 18px;
    margin-bottom: 108px;
    font-size: 16px;
    line-height: 18px;

    br {
      display: block;
    }
  }
}

.main-products__order--more {
  padding-left: 94px;
  padding-right: 94px;
  background-color: $special-light;
  color: $special-dark;

  &:hover {
    background-color: $gray;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 14px;
  }
}
