@import "../mixin.scss";

.main-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;

  // @include container;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-bottom: 42px;
    // z-index: 3;
    background: linear-gradient(
      to right,
      $alternative-color 50%,
      $special 50% 100%
    );
  }
}

.main-header--inner {
  @media (min-width: $desktop-width) {
    background: none;
    background-color: $alternative-color;
  }
}


.main-header__logo {
  height: 34px;
  text-align: left;
  padding-left: 21px;
  padding-top: 12px;
  padding-bottom: 12px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding-top: 24px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    padding-top: 53px;
    padding-left: 110px;
    padding-bottom: 0;
  }
}

.main-header__logo img {
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    src: "img/logo-tablet.svg";
    height: 52px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 540px;
    height: 59px;
    width: 202px;
  }
}
