.main-footer {
  position: relative;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;

  @include container;
  background-color: $special-light;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    padding-top: 10px;
  }
}

.main-footer__contacts {
  width: 320px;
  background-color: $special-light;

  @media (min-width: $tablet-width) {
    width: 768px;
  }
}

.main-footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 25px;
  background-color: $alternative-color;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    width: 570px;
    height: 84px;
    padding-top: 66px;
    padding-bottom: 51px;
  }
}

.main-footer__info--inner {
  padding-top: 38px;
  background-color: $special-light;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    background-color: $alternative-color;
  }
}

.main-footer__contacts .contacts__title {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    font-size: 20px;
    line-height: 25px;
  }
}

.main-footer__contacts .contacts__text {
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 72px;

    span {
      line-height: 54px;
    }
  }
}

.main-footer__picture {
  background-color: $special-light;
}

.main-footer__contacts map {
  width: 320px;
  height: 362px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }
}

.main-footer__company-name {
  padding-top: 31px;
  margin: 0 auto;
  margin-bottom: 27px;

  svg {
    fill: $black;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    padding-top: 6px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.main-footer__copyright {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}

.main-footer__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 41px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-footer__socials--inner {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }
}
