@import "../variables.scss";

.page-main__wrapper {
  width: 280px;

  @include container;

  @media (min-width: $tablet-width) {
    width: 768px;

    @include tablet-container;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;

    @include desktop-container;
  }
}

.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $main-color;

  margin-bottom: 37px;
}

//Заголовок вне контейнера центровщика
.page-main__title--outer {
  padding: 0 20px;
  margin-bottom: 41px;
}
