.programs {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 709px;

    @include tablet-container;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;

    padding: 0;
  }
}

.programs__header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0;

  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  color: $alternative-color;
  background: linear-gradient(
    to bottom,
    $special 60%,
    $alternative-color 60% 100%
  );

  @media (min-width: $tablet-width) {
    width: 709px;
    background: none;
    background-color: $alternative-color;
    color: $main-color;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin-bottom: 82px;
    padding-bottom: 20px;
    background: linear-gradient(
    to right,
    $alternative-color 50%,
    $special 50% 100%
  );
  }
}

.programs__header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 302px;
  background-image: url("../img/index-background-mobile@1x.png");
  opacity: 0.1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inherit;
    width: 720px;
    background-image: url("../img/index-background-desktop@1x.png");
    background-repeat: no-repeat;
    left: 720px;
    top: -165px;
    height: 694px;
    z-index: -2;
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop-width) {
    background-image: url("../img/index-background-desktop@2x.png");
    background-size: 720px auto;
  }
}

.programs_image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 585px;
    width: 552px;
    height: 499px;
  }
}

.programs__main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 88px;
    padding-top: 38px;
    margin-bottom: 41px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
    padding-top: 64px;
    margin-left: 190px;
    margin-bottom: 40px;
  }
}

.programs__slogan {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 302px;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 14px;

  &::after {
    position: absolute;
    content: "";
    top: 43px;
    left: 20px;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 280px auto;
    }

    @media (min-width: $tablet-width) {
      width: 709px;
      height: 609px;
      left: -90px;
      background-image: url("../img/index-can-tablet@1x.png");
    }

    @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.png");
      background-size: 709px auto;
    }

    @media (min-width: $desktop-width) {
      width: 552px;
      height: 499px;
      top: -210px;
      left: 285px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 88px;
    margin-bottom: 330px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
    margin-left: 190px;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}

.programs__link {
  margin: 0 auto;
  padding: 10px 73px;
  padding-bottom: 12px;
  margin-bottom: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    height: 25px;
    top: 268px;
    left: 82px;
    padding: 18px 26px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 190px;
    margin-bottom: 165px;
  }
}

.programs__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    flex-direction: row;
    column-gap: 80px;
    margin-bottom: 0;
  }
}

.programs__curse {
  background-color: $special-light;

  margin-bottom: 20px;
  padding-bottom: 22px;

  @media (max-width: $mobile-width-only) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 74px;
    padding-bottom: 56px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-bottom: 59px;
    margin-bottom: 71px;
  }
}

.programs__curse:last-child {
  margin-bottom: 0;
}

.programs__title {
  position: relative;
  text-align: center;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $main-color;

  @media (min-width: $tablet-width) {
    padding-left: 53px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 26px;
    text-align: left;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 73px;
    padding-left: 22px;
  }
}

.programs__title::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 22px;
  background-color: $special;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 16px;
    left: 446px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: -30px;
    left: 52px;
  }
}

.programs__title--slim::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 50px;
  top: -3px;
  left: 29px;
  background-image: url("../img/cat-slim-small.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 192px;
    top: 4px;
    left: 476px;
    background-size: 140px 192px;
  }

  @media (min-width: $desktop-width) {
    top: -35px;
    left: 68px;
    background-size: 70px 97px;
  }
}

.programs__title--strong {
  @media (max-width: $mobile-width-only) {
    padding-left: 38px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;
  }
}

.programs__title--strong::before {
  @media (max-width: $mobile-width-only) {
    top: -3px;
  }
}

.programs__title--strong::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 28px;
  top: 8px;
  left: 13px;
  background-image: url("../img/cat-strong-small.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 60px;
    left: 412px;
    background-size: 268px 112px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
    left: 32px;
    background-size: 134px 56px;
  }
}

.programs__text {
  width: 240px;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  margin-bottom: 43px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 377px;
    padding-left: 52px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }
}

.programs__catalog-link {
  position: relative;
  padding-left: 19px;

  text-decoration: none;
  color: $main-color;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__catalog-link::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 11px;
  left: 121px;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    left: 184px;
    top: 14px;
  }
}

.programs__catalog-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 6px;
  left: 138px;
  border-width: 6px;
  border-style: solid;
  border-color: $main-color;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: 202px;
  }
}
