@import "../variables.scss";

.site-list {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 16px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    width: 500px;
  }
}

.site-list__item {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item--active {
  position: relative;
}

.site-list__item--active::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $alternative-color;
  }
}

.site-list__item--inner + .site-list__item--active::after {
  background-color: $special;
}

.site-list__item a {
  text-decoration: none;
  color: $main-color;

  @media (min-width: $desktop-width) {
    color: $alternative-color;
  }
}

.site-list__item--inner a {
  color: $main-color;
}
