.socials__list {
  display: flex;
  width: 280px;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 22px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    border: none;
  }
}

.socials__item {
  position: relative;
  margin-right: 33px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}
