@import "../variables.scss";

.train-list {
  list-style: none;
}

.train-list__item {
  margin-left: 45px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $main-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 88px;
    font-size: 20px;
    line-height: 30px;
  }
}

.train-list__label--checkbox {
  @media (min-width: $desktop-width) {
    margin-right: 160px;
  }
}
