@import "variables.scss";
@import "mixin.scss";
@import "blocks/page-body.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/programs.scss";
@import "blocks/how-it-works.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
@import "blocks/main-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/socials.scss";
@import "blocks/copyright.scss";
@import "blocks/page-main.scss";
@import "blocks/train-choice.scss";
@import "blocks/train-list.scss";
@import "blocks/fieldset.scss";
@import "blocks/button.scss";
@import "blocks/main-products.scss";
@import "blocks/more-products.scss";
@import "blocks/additional-products.scss";

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"),
    url("../fonts/oswaldmedium.woff2"),
    url("../fonts/oswaldmedium.woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
